body{
    background-color: #FFFF99;
}
h4{
    padding-right:10px;
}
input{
    padding:5px;
}

th {
    padding: 0px 10px;
    border-bottom: 2px solid #00868B;
}
td {
	border-bottom: 1px solid #00868B;
	text-align: left;
	vertical-align: middle;
	padding: 0px 10px;
}
#editBtn{
    padding-left:10px;padding-right:10px;
    background: url(/img/edit.png); background-repeat: no-repeat; background-position: center;
    height: 32px; width: 48px; border: none;
}
#deleteBtn{
    padding-left:10px; padding-right:10px;
    background: url(/img/delete.png); background-repeat: no-repeat; background-position: center;
    height: 32px; width: 48px; border: none;
}
.green{
    color: green;
}
.red{
    color: red;
}
